<div class="container h-100">
  <form>
    <div class="form-group row justify-content-center align-items-bottom">
      <div class="centered" >
        <button type="button" class="form-control btn btn-outline-light" (click)="signUp()">SIGN UP</button>
        <button type="button" class="form-control btn btn-outline-light mt-2 active" (click)="login()" data-toggle="button">LOGIN</button>
        <legend class="text-white text-center"><h6><small> Resource planning tool for Education providers</small></h6></legend>
      </div>
    </div>
  </form>
</div>